.home-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.shop-now-button{
    padding: 10px 20px;
    background-color: #0b69ff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
}