.about-container {
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
  line-height: 1.6;
}

.about-text {
  margin-bottom: 20px;
  font-size: 18px;
  color: #334155;
}

.about-list li {
  margin-bottom: 10px;
  font-size: 17px;
  padding: 16px;
  margin-left: 8px;
}
