/* Desktop and Global Styles */
.website-logo {
  width: 150px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #0f172a;
  position: sticky;
  top: 0;
  z-index: 1000;
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 400;
}

nav ul li a:not(.active):hover {
  background-color: #60a5fa;
  color: #ffffff;
  padding: 5px;
  border-radius: 4px;
  transition: 0.5s;
}

/* Hamburger button (hidden on desktop) */
nav .menu {
  position: absolute;
  display: none;
  top: 0.75rem;
  right: 1rem;
  flex-direction: column;
  justify-content: space-between;
  width: 2.25rem;
  height: 2rem;
  cursor: pointer;
}

nav .menu span {
  height: 0.3rem;
  width: 100%;
  background-color: #ffffff;
  border-radius: 10px;
}

/* Logout Button */
.logout-button {
  background-color: #ef4444;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px;
}

/* ---------- Mobile Styles ---------- */
@media (max-width: 780px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
  }

  nav .menu {
    display: flex;
  }

  nav ul {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    width: 100%;
    margin-top: 20px;
  }

  nav ul.open {
    display: flex;
  }

  nav ul li {
    width: 100%;
    margin: 0;
    padding: auto;
  }

  nav ul li a {
    width: 100%;
    display: block;
    padding: 0;
    margin: 0;
    font-size: 16px;
  }

  nav ul li a:not(.active):hover {
    background-color: transparent;
  }

  /* Mobile active style */
  .active {
    background-color: transparent !important;
    color: #e19b0f;
    padding: 0;
    margin: 0;
    font-weight: 400;
  }

  .logout-button {
    background: transparent;
    padding: 0;
    color: #ef4444;
    font-size: 18px;
  }
}

/* ---------- Desktop active style ---------- */
.active {
  background-color: #007bff;
  font-weight: 600;
  color: #ffffff !important;
  padding: 8px 16px;
  border-radius: 4px;
  opacity: 0.9;
}
