.active{
  background-color: #007BFF;
  font-weight: 600;
  color: #ffffff;
  padding: 8px 16px;
  border-radius: 4px;
  opacity: 0.9;
}

.website-logo{
  width: 150px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #0f172a;
  position: sticky ;
  top: 0;
}
nav ul {
  list-style-type: none;
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}
nav ul li a {
  text-decoration: none;
  color: #ffff;
  font-weight: 400;
}
nav ul li a:not(.active):hover {
  background-color: #60a5fa;
    color: #ffffff;
  padding: 5px;
  border-radius: 4px;
  transition: 0.5s;
}

nav .cart-icon {
  position: relative;
}

.logout-button {
  background-color: #ef4444;
  color: white;
  border: none;
 padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px;
 

}
